<h2>DESCRIPTION</h2>

<em>d.rast.multi</em> displays multiple raster maps in the active
display frame on the graphics monitor.

<h2>EXAMPLE</h2>

Display raster map &quot;elevation&quot;:
<div class="code"><pre>
d.rast.multi map=Landsat5_ndvi_1,Landsat5_ndvi_2
</pre></div>

Display raster maps &quot;Landsat5_ndvi_1,Landsat5_ndvi_2&quot; but only values between 0 and 0.5:

<div class="code"><pre>
d.rast map=Landsat5_ndvi_1,Landsat5_ndvi_2 values=0-0.5
</pre></div>

Display raster maps &quot;Landsat5_ndvi_1,Landsat5_ndvi_2&quot; but only categories 0.1 and 0.2:

<div class="code"><pre>
d.rast map=Landsat5_ndvi_1,Landsat5_ndvi_2 values=0.1,0.2
</pre></div>

<h2>SEE ALSO</h2>

<em>
  <a href="d.rast.html">d.rast</a>,
  <a href="d.rast.arrow.html">d.rast.arrow</a>,
  <a href="d.rast.num.html">d.rast.num</a>,
  <a href="d.rast.leg.html">d.rast.leg</a>,
  <a href="d.legend.html">d.legend</a>,
  <a href="d.mon.html">d.mon</a>,
  <a href="d.erase.html">d.erase</a>,
  <a href="d.vect.html">d.vect</a>
</em>

<p>
<em>
  <a href="wxGUI.html">wxGUI</a>
</em>

<h2>AUTHOR</h2>

James Westervelt, U.S. Army Construction Engineering Research Laboratory

<p>
<i>Last changed: $Date: 2014-01-26 00:43:30 +0100 (So, 26. Jan 2014) $</i>
